<div class="container">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Friends</h4>
          </div>
        </div>
        <div class="inbox_chat" *ngFor="let f of friends">
          <!--<div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div class="chat_ib">
                <h5>Sunil Rajput</h5>
              </div>
            </div>
          </div>-->
          <div *ngIf="selected_index==f.user_id" class="chat_list active_chat" (click)="SelectUser(f)">
            <div class="chat_people">
              <div class="chat_img">
                <img *ngIf="f.profile_pic==null" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                <img *ngIf="f.profile_pic!=null" src="{{f.profile_pic}}" alt="sunil">
              </div>
              <div class="chat_ib">
                <h5>{{f.first_name}} {{f.last_name}}</h5>
              </div>
            </div>
          </div>
          <div *ngIf="selected_index!=f.user_id" class="chat_list" (click)="SelectUser(f)">
            <div class="chat_people">
              <div class="chat_img">
                <img *ngIf="f.profile_pic==null" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                <img *ngIf="f.profile_pic!=null" src="{{f.profile_pic}}" alt="sunil">
              </div>
              <div class="chat_ib">
                <h5>{{f.first_name}} {{f.last_name}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let m of msg">
            <div *ngIf="!m.sent" class="incoming_msg">
              <div *ngIf="m.profile_pic==null" class="incoming_msg_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
              </div>
              <div *ngIf="profile_pic!=null" class="incoming_msg_img">
                <img src="{{profile_pic}}" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>
                    {{m.text}}
                  </p>
                  <span class="time_date">
                    <span>{{first_name}} {{last_name}}</span> |
                    <span>{{m.upload_date}}</span>
                  </span>
                </div>
              </div>
            </div>
            <div *ngIf="m.sent" class="outgoing_msg">
              <div class="sent_msg">
                <p>
                  {{m.text}}
                </p>
                <span class="time_date">{{m.upload_date}}</span> </div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" placeholder="Type a message" [(ngModel)]="text" name="text" />
            <button class="msg_send_btn" type="button" (click)="SendMessage()">
              <i class="far fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
