<div class="modal" *ngIf="view_image" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<input class="modal-title" value="Modal Title">-->
        <h5 class="modal-title">Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="CloseModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="{{ img_url }}" class="modal-img">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="SetProfilePic()">Set Profile Image</button>
        <!--<button type="button" class="btn btn-primary" (click)="UpdateImage()">Save changes</button>-->
        <button type="button" class="btn btn-danger" (click)="DeleteImage()">Delete</button>
      </div>
    </div>
  </div>
</div>
<div class="container" *ngFor="let pic of pics">
  <div class="card-group">
    <div class="card" *ngFor="let p of pic">
      <img *ngIf="p.pic_url!=null" (click)="ViewImage(p)" src="{{p.pic_url}}" class="card-img-top">
      <img *ngIf="p.pic_url==null" class="card-img-top" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400">
    </div>
  </div>
  <br>
</div>
