.modal{
  display:block;
}

.modal-img{
  width:750px;
  height:500px;
}

.modal-content{
  margin-top:25px;
}

@media(max-width:768px){
  .modal-img{
    width:450px;
  }
}

@media(max-width:425px){

  .modal-content{
    margin-top:30px;
  }

  .btn{
    font-size:14px;
  }

  .modal-img{
    width:375px;
    height:450px;
  }
}

@media(max-width:375px){
  .modal-img{
    width:325px;
  }
}

@media(max-width:320px){
  .modal-content{
    margin-top:50px;
  }

  .btn{
    font-size:10px;
  }

  .modal-img{
    width:275px;
    height:425px;
  }
}
