<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand navbar-title text-light" href="/home/post/all">Social Network</a>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarTogglerDemo03">
  <div class="input-group mb-3 input-holder w-50 mx-auto">
    <input class="form-control" [(ngModel)]="search_text" name="search_text" type="email" placeholder="Email" aria-label="Email">
    <div class="input-group-prepend">
      <i class="fas fa-search text-light search-btn h4" (click)="SearchUser()"></i>
    </div>
  </div>
  <ul class="navbar-nav text-light ml-auto navbar-holder">
    <li class="nav-item nav-link" (click)="ViewMyProfile()">
      <i class="fas fa-user">{{first_name}} {{last_name}}</i>
    </li>
    <li class="nav-item nav-link" (click)="ViewFriendReq()">
      <i class="fas fa-user-friends"></i>
    </li>
    <li class="nav-item nav-link" (click)="ViewChat()">
      <i class="fas fa-comment"></i>
    </li>
    <li class="nav-item nav-link" (click)="ViewNotif()">
      <i class="fas fa-bell"></i>
    </li>
    <li class="nav-item dropdown">
      <i class="fas fa-caret-down nav-link" (click)="dropMenu=!dropMenu" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenu" [collapse]="dropMenu">
        <a class="dropdown-item" (click)="LogOut()">Log Out</a>
      </div>
    </li>
  </ul>
  </div>
</nav>
