<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed" [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand navbar-title text-light">Social Network</a>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
    <form class="form-inline my-2 my-lg-0" (submit)="onLoginSubmit()">
      <input class="form-control mr-sm-2" [(ngModel)]="log_email" name="log_email" type="email" placeholder="Email" aria-label="Email">
      <input class="form-control mr-sm-2" [(ngModel)]="log_password" name="log_password" type="password" placeholder="Password" aria-label="Password">
      <button class="btn btn-outline-success my-2 my-sm-0 text-light" type="submit">Log In</button>
    </form>
  </div>
</nav>
<div class="container reg-container">
  <div class="container text-light border rounded">
    <h2>Register</h2>
    <form>
      <div class="form-group">
        <label>First Name:</label>
        <input type="name" [(ngModel)]="reg_first_name" class="form-control" placeholder="FirstName" name="reg_first_name">
      </div>
      <div class="form-group">
        <label>Last Name:</label>
        <input type="name" [(ngModel)]="reg_last_name" class="form-control" placeholder="LastName" name="reg_last_name">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="reg_email" class="form-control" placeholder="Enter email" name="reg_email">
      </div>
      <div class="form-group">
        <label>Password:</label>
        <input type="password" [(ngModel)]="reg_password" class="form-control" placeholder="Enter password" name="reg_password">
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
        <input type="password" [(ngModel)]="reg_confirm_password" class="form-control" placeholder="Confirm password" name="reg_confirm_password">
      </div>
      <button type="submit" class="btn text-light submit-btn" (click)="onRegisterSubmit()">Submit</button>
    </form>
  </div>
</div>
