.reg-container{
  margin-top:2%;
}

@media (min-width:750px){
  .reg-container{
    width:60%;
  }
}

@media (min-width:1000px){
  .reg-container{
    width:45%;
  }
}

.navbar-title{
  cursor:pointer;
}

.submit-btn{
  background-color: limegreen;
  margin-bottom:2%;
}

.submit-btn:hover{
  background-color: green;
}
