<div class="container profile-container">
  <div class="card">
    <div class="card-header profile-bg-img">
      <div class="card-img-overlay">
        <img *ngIf="profile_pic==null" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" alt="Profile Image" class="border rounded profile-img">
        <img *ngIf="profile_pic!=null" src="{{profile_pic}}" class="border rounded profile-img">
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ first_name }} {{ last_name }}</h5>
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item" (click)="ViewPosts()">
          <span *ngIf="!posts" class="nav-link border rounded">Posts</span>
          <span *ngIf="posts" class="nav-link border rounded active">Posts</span>
        </li>
        <li class="nav-item" (click)="ViewAbout()">
          <span *ngIf="!about" class="nav-link border rounded">About</span>
          <span *ngIf="about" class="nav-link border rounded active">About</span>
        </li>
        <li class="nav-item" (click)="ViewPictures()">
          <span *ngIf="!pic" class="nav-link border rounded">Pictures</span>
          <span *ngIf="pic" class="nav-link border rounded active">Pictures</span>
        </li>
        <li class="nav-item" (click)="ViewFriends()">
          <span *ngIf="!friend" class="nav-link border rounded">Friends</span>
          <span *ngIf="friend" class="nav-link border rounded active">Friends</span>
        </li>
      </ul>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>
