.profile-container{
  margin-top:7%;
}

.nav-item{
  cursor:pointer;
}

.img-fluid{
  width:100%;
  height:auto;
}

.profile-bg-img{
  background-image:url('https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400');
  width:100%;
  height:250px;
  background-size:100% 100%;
}

.profile-img{
  width:200px;
  height:200px;
  background-size:100% 100%;
}

.card-body{
  z-index:1;
}

@media (max-width:1024px){
  .profile-img{
    width:200px;
  }
}

@media (max-width:768px){
  .profile-img{
    margin-top:60px;
    width:150px;
    height:150px;
  }
}

@media (max-width:425px){
  .profile-img{
    width:125px;
    height:125px;
    margin-top:90px;
  }
}

@media (max-width:375px){
  .profile-img{
    height:100px;
    width:100px;
    margin-top:120px;
  }
}

@media (max-width:320px){
  .profile-img{
    height:100px;
    width:100px;
  }
}
