<div *ngFor="let sr of results">
  <div class="container py-3">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img *ngIf="sr.profile_pic==null" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
          <img *ngIf="sr.profile_pic!=null" src="sr.profile_pic" class="img-fluid">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title" (click)="ViewProfile(sr.id)">{{sr.first_name}} {{sr.last_name}}</h4>
            <p class="card-text">{{sr.email}}</p>
            <button *ngIf="sr.friend_req_sent==false && sr.friends==false && sr.friend_req_received==false" class="btn btn-success" (click)="AddFriend(sr)">Add Friend</button>
            <button *ngIf="sr.friends==true" class="btn btn-danger" (click)="RemoveFriend(sr)">Remove Friend</button>
            <button *ngIf="sr.friend_req_sent==true && sr.friends==false" class="btn btn-danger" (click)="CancelRequest(sr)">Cancel Request</button>
            <button *ngIf="sr.friend_req_received==true && sr.friends==false" class="btn btn-success" (click)="AcceptRequest(sr)">Accept Request</button>
            <button *ngIf="sr.friend_req_received==true && sr.friends==false" class="btn btn-danger" (click)="DeclineRequest(sr)">Decline Request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
