<div *ngFor="let sr of friend_req">
  <div class="container py-3">
    <div class="card">
      <div class="row">
        <div class="col-md-4">
          <img *ngIf="sr.profile_pic==null" src="https://placeholdit.imgix.net/~text?txtsize=38&txt=400%C3%97400&w=400&h=400" class="w-100">
          <img *ngIf="sr.profile_pic!=null" src="sr.profile_pic" class="img-fluid">
        </div>
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title" (click)="ViewProfile(sr.id)">{{sr.first_name}} {{sr.last_name}}</h4>
            <p class="card-text">{{sr.email}}</p>
            <button class="btn btn-success" (click)="AcceptRequest(sr)">Accept Request</button>
            <button class="btn btn-danger" (click)="DeclineRequest(sr)">Decline Request</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
