<form class="container border rounded form-container">
  <div class="form-group">
    <textarea class="form-control" id="post_cont" rows="4" [(ngModel)]="post_text" name="post_text"></textarea>
  </div>
  <div class="text-right btn-container">
    <input type="file" hidden style="display:none;" (change)="PostImage($event)" #uploader>
    <button class="btn btn-primary" (click)="uploader.click()">Image</button>
    <button class="btn btn-right" (click)="MakePost()">Submit</button>
  </div>
</form>
<div class="container posts-container" *ngFor="let p of posts">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title profile-title" (click)="ViewProfile(p.email)">
        <img *ngIf="p.profile_pic!=null" src="{{p.profile_pic}}" class="img">
        <img *ngIf="p.profile_pic==null" src="https://www.fkbga.com/wp-content/uploads/2018/07/person-icon-6.png" alt="Profile Pic" class="img">
        {{ p.first_name }} {{ p.last_name }}
      </h5>
      <div class="text-muted">
        {{ p.upload_date }}
      </div>
      <p class="card-text">
        {{ p.text }}
      </p>
    </div>
    <div class="card-footer">
      <div class="text-right">
        <button class="btn" (click)="LikePost(p)">
          <i class="far fa-thumbs-up">{{ p.like_count }}</i>
        </button>
        <button class="btn" (click)="ViewComments(p)">
          <i class="far fa-comment">{{ p.comment_count }}</i>
        </button>
      </div>
      <hr>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" [(ngModel)]="comment_text" name="comment_text">
        <div class="input-group-prepend">
          <button class="btn btn-outline-primary" type="button" (click)="CommentPost(p)">
            <i class="far fa-paper-plane"></i>
          </button>
        </div>
      </div>
      <hr>
      <div class="border comment-container" *ngIf="p.view_comment">
        <div *ngFor="let c of comments">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title profile-title" (click)="ViewProfile(c.email)">
                <img *ngIf="c.profile_pic==null" src="https://www.fkbga.com/wp-content/uploads/2018/07/person-icon-6.png" alt="Profile Pic" class="img">
                <img *ngIf="c.profile_pic!=null" src="c.profile_pic" class="img">
                {{ c.first_name }} {{ c.last_name }}
              </h5>
              <div class="text-muted">
                {{ c.upload_date }}
              </div>
              <p class="card-text">
                {{ c.text }}
              </p>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <button class="btn" (click)="LikeComment(c)">
                  <i class="far fa-thumbs-up">{{ c.like_count }}</i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
