.btn-right{
  margin-left:2%;
}

.form-container{
  padding-top:1%;
  padding-bottom:1%;
}

#post_cont{
  resize:none;
}

.posts-container{
  margin-top:2%;
}

.img{
  width:10%;
  background-size:cover;
}

.comment-container{
  margin-top:1%;
}

.comment-post-container{
  padding-top:2%;
  padding-bottom:2%;
}

.profile-title{
  cursor:pointer;
}

@media(max-width:1024px){
  .form-container{
    margin-top:7%;
  }
}

@media(max-width:768px){
  .form-container{
    margin-top:9%;
  }
  .img{
    width:15%;
  }
}

@media(max-width:425px){
  .form-container{
    margin-top:15%;
  }

  .img{
    width:20%;
  }
}

@media(max-width:375px){
  .img{
    width:20%;
  }
}

@media(max-width:320px){
  .img{
    width:25%;
  }
}
