<div class="container profile-info-container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        About Page
      </h3>
      <div class="form-group">
        <label>First Name: </label>
        <input name="first_name" class="form-control" [(ngModel)]="first_name">
      </div>
      <div class="form-group">
        <label>Last Name: </label>
        <input name="last_name" class="form-control" [(ngModel)]="last_name">
      </div>
      <div *ngIf="myprofile" class="btn-group btn-grp">
        <button class="btn btn-success" (click)="UpdateInfo()">Update Information</button>
        <button class="btn btn-danger" (click)="DeleteAccount()">Delete Account</button>
      </div>
      <br>
      <div *ngIf="myprofile" class="form-group cp-btn">
        <div class="form-group">
          <label>Old Password:</label>
          <input type="password" name="old_password" class="form-control" [(ngModel)]="old_password">
        </div>
        <div class="form-group">
          <label>New Password:</label>
          <input type="password" name="new_password" class="form-control" [(ngModel)]="new_password">
        </div>
        <div class="form-group">
          <label>Confirm Password:</label>
          <input type="password" name="confirm_password" class="form-control" [(ngModel)]="confirm_password">
        </div>
        <button class="btn btn-success" (click)="ChangePassword()">Change Password</button>
      </div>
    </div>
  </div>
</div>
