.btn-grp{
  margin-left:71%;
}

.profile-info-container{
  margin-bottom:2%;
}

.cp-btn{
  margin-top:2%;
}

@media(max-width:1024px){
  .btn-grp{
    margin-left:65%;
  }
}

@media(max-width:768px){
  .btn-grp{
    margin-left:52%;
  }
}

@media(max-width:425px){
  .btn-grp{
    margin-left:9%;
  }
}

@media(max-width:375px){
  .btn-grp{
    margin-left:-5%;
  }
}

@media(max-width:320px){
  .btn{
    font-size:12px;
    padding:10px;
  }
}
